/* Universal Styles */

h1 {
  font-size: 32px
}
h2 {
  font-size: 26px
}
h3 {
  font-size: 22px
}


/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-link {
  text-decoration: none;
  color: black;
}

.nav-list {
  display: flex;
  gap: 0 15px;
}

.nav-item {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
}
